<<%= (is_lowercase) ? name.downcase : name %>
<%if model.xmlId%> id="<%= model.xmlId%>"<%end%>
>
    <%== render :template => 'element', :locals => {model: model, is_resource: false} %>
    <%- if !model.number().nil? -%><number value="<%= model.number %>"<%- if model.has_primitive_extension?('number') -%>><%== model.get_primitive_extension('number').to_xml(is_root: false, is_lowercase: true)  %></number><%- else -%>/><%- end -%><%- end -%>
    <%- if !model.uid().nil? -%><uid value="<%= model.uid %>"<%- if model.has_primitive_extension?('uid') -%>><%== model.get_primitive_extension('uid').to_xml(is_root: false, is_lowercase: true)  %></uid><%- else -%>/><%- end -%><%- end -%>
    <%- if !model.sopClass().nil? -%><sopClass value="<%= model.sopClass %>"<%- if model.has_primitive_extension?('sopClass') -%>><%== model.get_primitive_extension('sopClass').to_xml(is_root: false, is_lowercase: true)  %></sopClass><%- else -%>/><%- end -%><%- end -%>
    <%- if !model.fhirType().nil? -%><type value="<%= model.fhirType %>"<%- if model.has_primitive_extension?('fhirType') -%>><%== model.get_primitive_extension('fhirType').to_xml(is_root: false, is_lowercase: true)  %></type><%- else -%>/><%- end -%><%- end -%>
    <%- if !model.title().nil? -%><title value="<%= model.title %>"<%- if model.has_primitive_extension?('title') -%>><%== model.get_primitive_extension('title').to_xml(is_root: false, is_lowercase: true)  %></title><%- else -%>/><%- end -%><%- end -%>
    <%- if (!model.content().nil? && !model.content.empty?) -%><%- model.content().each do |element| -%><%== render :template => 'attachment', :locals => {name: 'content', model: element} %><%- end -%><%- end -%>
</<%= (is_lowercase) ? name.downcase : name %>>
