<%== '<?xml version="1.0" encoding="UTF-8"?>' if is_root %>
<% local_name = name || 'List' %>
<<%= (is_lowercase) ? local_name.downcase : local_name %>
<%== (is_root) ? ' xmlns="http://hl7.org/fhir"' : ''%>>
    <%== render :template => 'element', :locals => {model: model, is_resource: true} %>
    <%== render :template => 'resource', :locals => {model: model} %>
    <%- if (!model.identifier().nil? && !model.identifier.empty?) -%><%- model.identifier().each do |element| -%><%== render :template => 'identifier', :locals => {name: 'identifier', model: element} %><%- end -%><%- end -%>
    <%- if !model.title().nil? -%><title value="<%= model.title %>"<%- if model.has_primitive_extension?('title') -%>><%== model.get_primitive_extension('title').to_xml(is_root: false, is_lowercase: true)  %></title><%- else -%>/><%- end -%><%- end -%>
    <%- if !model.code().nil? -%><%== render :template => 'codeableconcept', :locals => {name: 'code', model: model.code()} %><%- end -%>
    <%- if !model.subject().nil? -%><%== render :template => 'reference', :locals => {name: 'subject', model: model.subject()} %><%- end -%>
    <%- if !model.source().nil? -%><%== render :template => 'reference', :locals => {name: 'source', model: model.source()} %><%- end -%>
    <%- if !model.encounter().nil? -%><%== render :template => 'reference', :locals => {name: 'encounter', model: model.encounter()} %><%- end -%>
    <%- if !model.status().nil? -%><status value="<%= model.status %>"<%- if model.has_primitive_extension?('status') -%>><%== model.get_primitive_extension('status').to_xml(is_root: false, is_lowercase: true)  %></status><%- else -%>/><%- end -%><%- end -%>
    <%- if !model.date.nil? -%><%- if (!model.date.match(/\A[0-9]{4}(-(0[1-9]|1[0-2])(-(0[0-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?\Z/).nil?) -%><date value="<%= model.date %>"<%- if model.has_primitive_extension?('date') -%>><%== model.get_primitive_extension('date').to_xml(is_root: false, is_lowercase: true)  %></date><%- else -%>/><%- end -%><%- end -%><%- end -%>
    <%- if !model.orderedBy().nil? -%><%== render :template => 'codeableconcept', :locals => {name: 'orderedBy', model: model.orderedBy()} %><%- end -%>
    <%- if !model.mode().nil? -%><mode value="<%= model.mode %>"<%- if model.has_primitive_extension?('mode') -%>><%== model.get_primitive_extension('mode').to_xml(is_root: false, is_lowercase: true)  %></mode><%- else -%>/><%- end -%><%- end -%>
    <%- if !model.note().nil? -%><note value="<%= model.note %>"<%- if model.has_primitive_extension?('note') -%>><%== model.get_primitive_extension('note').to_xml(is_root: false, is_lowercase: true)  %></note><%- else -%>/><%- end -%><%- end -%>
    <%- if (!model.entry().nil? && !model.entry.empty?) -%><%- model.entry().each do |element| -%><%== render :template => 'list_listentrycomponent', :locals => {name: 'entry', model: element} %><%- end -%><%- end -%>
    <%- if !model.emptyReason().nil? -%><%== render :template => 'codeableconcept', :locals => {name: 'emptyReason', model: model.emptyReason()} %><%- end -%>
</<%= (is_lowercase) ? local_name.downcase : local_name %>>
