<<%= (is_lowercase) ? name.downcase : name %>
<%if model.xmlId%> id="<%= model.xmlId%>"<%end%>
>
    <%== render :template => 'element', :locals => {model: model, is_resource: false} %>
    <%- if !model.linkId().nil? -%><linkId value="<%= model.linkId %>"<%- if model.has_primitive_extension?('linkId') -%>><%== model.get_primitive_extension('linkId').to_xml(is_root: false, is_lowercase: true)  %></linkId><%- else -%>/><%- end -%><%- end -%>
    <%- if !model.title().nil? -%><title value="<%= model.title %>"<%- if model.has_primitive_extension?('title') -%>><%== model.get_primitive_extension('title').to_xml(is_root: false, is_lowercase: true)  %></title><%- else -%>/><%- end -%><%- end -%>
    <%- if !model.text().nil? -%><text value="<%= model.text %>"<%- if model.has_primitive_extension?('text') -%>><%== model.get_primitive_extension('text').to_xml(is_root: false, is_lowercase: true)  %></text><%- else -%>/><%- end -%><%- end -%>
    <%- if !model.subject().nil? -%><%== render :template => 'reference', :locals => {name: 'subject', model: model.subject()} %><%- end -%>
    <%- if (!model.group().nil? && !model.group.empty?) -%><%- model.group().each do |element| -%><%== render :template => 'questionnaireresponse_groupcomponent', :locals => {name: 'group', model: element} %><%- end -%><%- end -%>
    <%- if (!model.question().nil? && !model.question.empty?) -%><%- model.question().each do |element| -%><%== render :template => 'questionnaireresponse_questioncomponent', :locals => {name: 'question', model: element} %><%- end -%><%- end -%>
</<%= (is_lowercase) ? name.downcase : name %>>
