<<%= (is_lowercase) ? name.downcase : name %>
<%if model.xmlId%> id="<%= model.xmlId%>"<%end%>
>
    <%== render :template => 'element', :locals => {model: model, is_resource: false} %>
    <%- if !model.fhirType().nil? -%><%== render :template => 'coding', :locals => {name: 'type', model: model.fhirType()} %><%- end -%>
    <%- if !model.resource().nil? -%><resource value="<%= model.resource %>"<%- if model.has_primitive_extension?('resource') -%>><%== model.get_primitive_extension('resource').to_xml(is_root: false, is_lowercase: true)  %></resource><%- else -%>/><%- end -%><%- end -%>
    <%- if !model.label().nil? -%><label value="<%= model.label %>"<%- if model.has_primitive_extension?('label') -%>><%== model.get_primitive_extension('label').to_xml(is_root: false, is_lowercase: true)  %></label><%- else -%>/><%- end -%><%- end -%>
    <%- if !model.description().nil? -%><description value="<%= model.description %>"<%- if model.has_primitive_extension?('description') -%>><%== model.get_primitive_extension('description').to_xml(is_root: false, is_lowercase: true)  %></description><%- else -%>/><%- end -%><%- end -%>
    <%- if !model.accept().nil? -%><accept value="<%= model.accept %>"<%- if model.has_primitive_extension?('accept') -%>><%== model.get_primitive_extension('accept').to_xml(is_root: false, is_lowercase: true)  %></accept><%- else -%>/><%- end -%><%- end -%>
    <%- if !model.contentType().nil? -%><contentType value="<%= model.contentType %>"<%- if model.has_primitive_extension?('contentType') -%>><%== model.get_primitive_extension('contentType').to_xml(is_root: false, is_lowercase: true)  %></contentType><%- else -%>/><%- end -%><%- end -%>
    <%- if !model.destination().nil? -%><destination value="<%= model.destination %>"<%- if model.has_primitive_extension?('destination') -%>><%== model.get_primitive_extension('destination').to_xml(is_root: false, is_lowercase: true)  %></destination><%- else -%>/><%- end -%><%- end -%>
    <%- if !model.encodeRequestUrl().nil? -%><encodeRequestUrl value="<%= model.encodeRequestUrl %>"<%- if model.has_primitive_extension?('encodeRequestUrl') -%>><%== model.get_primitive_extension('encodeRequestUrl').to_xml(is_root: false, is_lowercase: true)  %></encodeRequestUrl><%- else -%>/><%- end -%><%- end -%>
    <%- if !model.params().nil? -%><params value="<%= model.params %>"<%- if model.has_primitive_extension?('params') -%>><%== model.get_primitive_extension('params').to_xml(is_root: false, is_lowercase: true)  %></params><%- else -%>/><%- end -%><%- end -%>
    <%- if (!model.requestHeader().nil? && !model.requestHeader.empty?) -%><%- model.requestHeader().each do |element| -%><%== render :template => 'testscript_testscriptsetupactionoperationrequestheadercomponent', :locals => {name: 'requestHeader', model: element} %><%- end -%><%- end -%>
    <%- if !model.responseId().nil? -%><responseId value="<%= model.responseId %>"<%- if model.has_primitive_extension?('responseId') -%>><%== model.get_primitive_extension('responseId').to_xml(is_root: false, is_lowercase: true)  %></responseId><%- else -%>/><%- end -%><%- end -%>
    <%- if !model.sourceId().nil? -%><sourceId value="<%= model.sourceId %>"<%- if model.has_primitive_extension?('sourceId') -%>><%== model.get_primitive_extension('sourceId').to_xml(is_root: false, is_lowercase: true)  %></sourceId><%- else -%>/><%- end -%><%- end -%>
    <%- if !model.targetId().nil? -%><targetId value="<%= model.targetId %>"<%- if model.has_primitive_extension?('targetId') -%>><%== model.get_primitive_extension('targetId').to_xml(is_root: false, is_lowercase: true)  %></targetId><%- else -%>/><%- end -%><%- end -%>
    <%- if !model.url().nil? -%><url value="<%= model.url %>"<%- if model.has_primitive_extension?('url') -%>><%== model.get_primitive_extension('url').to_xml(is_root: false, is_lowercase: true)  %></url><%- else -%>/><%- end -%><%- end -%>
</<%= (is_lowercase) ? name.downcase : name %>>
